body{
background-image:url("nw3.jpg");
background-size: 100% 100%;
}
#id3{
align:right;
}

.first{
	float: right;
	margin-left: 150px;
}
iframe {
    display: block;
    width: 350px;
    height: 200px;
    border: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a { 
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
img {
    
    margin: auto;
    border: 1px solid ;
    border-radius: 4px;
    padding: 5px;

}
h2,h3,h4{
color:white;
}
