body{
background-color:ghostwhite;
background-size: 100% 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
.active {
    background-color: #4CAF50;
}
#pixe{
width:40px;
}
#pixe1{
width:40px;
}
#pixe2{
width:40px;
}
